@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --light: #f3f3f3;
  --dark: #060606;
  --light-color: #fcffea;
  --dark-color: #000000;
  --primary: #b6b300;
  --secondary: #4d4100;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--light);
}

